/* Eric Myers' reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body{
	line-height: 1.4;
	max-width: 1000px;
	font: 100%/1.2 "Century Gothic", arial, sans-serif;
	background-color: #CBD4A8;
	margin-left: auto;
	margin-right: auto;
}

a {
	color: black;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

h1 {
	font-size: 140%; /*22px*/
	clear: both;
/*	margin-left: auto;
	margin-right: auto;*/
}

h2 {
	font-size: 125%; /*20px*/
}

h3 {
	font-size: 120%; /*19px*/
}

h5 {
	font-size: 80%; /*13px*/
}

header {
	float: left;
}

nav {
	border: 1px solid black;
	float: right;
	margin-bottom: 15px;
	margin-top: 15px;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: inline;
	float: left;
	padding: 15px 1em 8px;
	background-color: white;
}

nav a:hover{
	background-color: #C2F7CB;
}

footer {
	font-size: 80%;
	font-weight: bold;
	max-width: 100%;
	background: white;
	clear: both;
	padding-left: 3%;
	padding-right: 3%;
	/*vertical-align: bottom;*/
	overflow: hidden;
}

footer p {
	display: inline-block;
	margin-right: 3%;
}

footer a {
	text-decoration: underline;
}

.icon {
	padding-right: 1%;
	float: right;
}

h1 {
	clear: both;
	margin-left: 1.9%;
	margin-bottom: 1.2%;
}

form {
	clear: both;
	float: left;
	border: 1px solid black;
	background-color: #C2F7CB;
	overflow: hidden;
	max-width: 100%;
}

legend {
	font-weight: bold;
	padding-left: 10.5%;
	padding-top: 1em;
}

#demographics label.fixedwidth  {
	clear: left;
	float: left;
	padding-right: 1em;
	text-align: right;
	width: 90px;
}

#demographics input {
	width: 220px;
}

#demographics, #pet_info {
	float: left;
	padding: 15px 1em;
}

#pet_info label {
	padding: 0 1em 1em;	
}
	
aside {
	float: right;
	margin: 0 3% 3% auto;
}

#appt_time {
	margin: 1em 0;
}
/*---------Media Queries-------------------*/

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
form {clear: both;}
#logo {display: none;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}