/* Eric Myers' reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}

body{
	line-height: 1.4;
	max-width: 1000px;
	font: 100%/1.2 "Century Gothic", arial, sans-serif;
	background-color: #CBD4A8;
	margin-left: auto;
	margin-right: auto;
}

#logo {
	display: block;
	max-width: 100%;
	padding-right: 5%;
}

a {
	color: black;
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

header {
	float: left;
	}

nav {
	border: 1px solid black;
	float: right;
	margin-bottom: 15px;
	margin-top: 15px;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: inline;
	float: left;
	padding: 15px 1em 8px;
	background-color: white;
}

nav a:hover{
	background-color: #C2F7CB;
}

#greeting {
	clear: right;
/*	margin-left: 1em;*/
	font-style: italic;
	text-align: right;
}

#signature p {
	margin-top: 5px;
	text-align: right;
}

#img_container {
	position: relative;
	max-width: 90%;
	margin: 0 auto;
	border: 3px solid black;
	margin-top: 20px;
	margin-bottom: 15px;
}

#img_container img {
	display: block;
	clear: both;
	width: 100%;
	height: auto;
	max-height: 100%;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#img_caption {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: white;
	border: 1px solid #333;
	max-width: 100%;
	width: auto;
	padding: 0 3px;
}

ul.menu {
	/*display: block;*/
	text-align: center;
}

ul.menu li {
	display: inline-block;
}

.main_links {
	width: 90%;
	margin: 0 auto;
}

.main_links ul {
	overflow: hidden;
	max-height: 100%;
			
	/*margin-left: auto;
	margin-right: auto;*/
}

.main_links li {
	margin-right: 0.96%;
	/*display: block;*/
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: 0.075em;
	/*float: left;*/
	padding: 15px 0 8px;
	-moz-box-shadow: -2px -2px 0 #333;
	-webkit-box-shadow: -2px -2px 0 #333;
	box-shadow: -2px -2px 0 #333;
	border: 1px solid black;
	background-color: #C2F7CB;
	width: 31.5925%;
	white-space: nowrap;
}

footer {
	margin-top: 15px;
	max-width: 100%;
	background: white;
	clear: both;
	padding-left: 7%;
}

footer p {
	float: left;
	margin-right: 3%;
}

/*---------Media Queries-------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.main_links {max-width: 100%;}
.main_links li {clear: both; margin: 1.5% 0 0; max-width: 100%;}
#logo {display: none;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}